<%= render 'pages/header' %>

<section>
  <article class="mx-4 lg:m-auto lg:w-2/3">
    <h1 class="text-5xl lg:text-6xl my-8 text-black font-extrabold tracking-tighter italic leading-tight lg:-mx-12">Writing</h1>
    <div>
        <h2 class="text-4xl font-extrabold bg-gradient-to-r text-gradient from-indigo-600 to-indigo-300">2021</h2>
        <% Post.published.order('created_at DESC').each do |p| %>
          <div class="mb-5">
              <div class="lg:inline-block lg:w-1/6 lg:py-2 pr-4 text-gray-800 text-base font-bold tracking-tight"><%= p.created_at.strftime('%d').to_i.ordinalize %> <%= p.created_at.strftime('%B') %></div>
              <br>
              <a class="border-solid border-b-2 border-b-gray-600 text-gray-600 font-semibold" href="/posts/<%= p.slug %>"><%= p.title %></a>
          </div>
        <% end %>
    </div>
    <h2 class="text-4xl font-extrabold bg-gradient-to-r text-gradient from-indigo-600 to-indigo-300 mt-10">2020</h2>
    <div class="lg:inline-block lg:w-1/6 lg:py-2 pr-4 text-gray-800 text-base font-bold tracking-tight">...</div>
  </article>
</section>

<%= render 'pages/footer' %>
