<head>
  <!-- Primary Meta Tags -->
  <title><%= post.title %> - Navid Khan</title>
  <meta name="title" content="<%= post.title %> - Navid Khan">
  <meta name="description" content="<%= post.title %> - Navid Khan">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://nvdk.co/">
  <meta property="og:title" content="<%= post.title %> - Navid Khan">
  <meta property="og:description" content="<%= post.title %> - Navid Khan">
  <meta property="og:image" content="">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://nvdk.co/">
  <meta property="twitter:title" content="<%= post.title %> - Navid Khan">
  <meta property="twitter:description" content="<%= post.title %> - Navid Khan">
  <meta property="twitter:image" content="">
</head>